
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Milligram Light", sans-serif;
  color: white;
  background: black;
  overflow-x: hidden;
}


.bg-full {
  position: fixed;
  inset: 0;
  background: url("img/bg_main1.JPG") center/cover no-repeat;
  z-index: -1;
}


.header {
  width: 100%;
  height: 72px;
  background: #000;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.logo__img {
  height: 70px;
  user-select: none;
}


.nav-menu a {
  color: white;
  text-decoration: none;
  font-family: "Milligram Light";
  transition: 0.25s;
}

.nav-menu a:hover {
  text-decoration: underline;
}


.cart {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.cart::after {
  content: "";
  width: 34px;
  height: 34px;
  background: url("img/bagD.png") center/contain no-repeat;
  transition: 0.25s;
}

.cart:hover::after {
  background-image: url("img/bagH.png");
}

.cart:active::after {
  background-image: url("img/bagA.png");
}

.btn-red {
  background: #ff2d2d;
  color: white;
  padding: 10px 25px;
  font-family: "Milligram Light";
  border-radius: 12px;
  transition: 0.25s;
}

.btn-red:hover {
  text-decoration: underline;
}


.hero__back {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 8px;

  font-family: "Milligram Light", sans-serif;
  font-size: 32px;
  color: #000;

  cursor: pointer;
  transition: color 0.25s ease, text-decoration 0.25s ease;
}

.hero__back::before {
  content: "";
  width: 32px;
  height: 32px;
  background: url("img/backD.png") center/contain no-repeat;
  transition: background-image 0.25s ease;
}


.hero__back:hover {
  text-decoration: underline;
}
.hero__back:hover::before {
  background-image: url("img/backH.png");
}


.hero__back:active {
  color: #ff2d2d;
  text-decoration: none;
}
.hero__back:active::before {
  background-image: url("img/backA.png");
}




.page-title {
  margin-top: 25px;
  font-family: "Milligram Bold", sans-serif;
  font-size: 64px;
  line-height: 1;
}



.cards-container {
  margin-top: 40px;
}


.tshirt-card {
  width: 100%;
  background: rgba(0,0,0,0.57);
  border-radius: 41px;
  backdrop-filter: blur(12px);
  padding: 28px 24px 40px;
  position: relative;
  transition: 0.3s;
}


.tshirt-card:hover {
  border: 2px solid #ff2d2d;

}


.icons {
  position: absolute;
  top: 22px;
  left: 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  width: 34px;
  cursor: pointer;
  transition: 0.25s;
}



.icon[src*="ButMatchD"]:hover {
  content: url("img/ButMatchH.png");
}
.icon[src*="ButMatchD"]:active {
  content: url("img/ButMatchA.png");
}

.icon[src*="linkButD"]:hover {
  content: url("img/linkButH.png");
}
.icon[src*="linkButD"]:active {
  content: url("img/linkButA.png");
}



.tshirt-img {
  width: 100%;
  max-width: 360px;
  display: block;
  margin: 10px auto 0;
  user-select: none;
}


.card-content {
  margin-top: 20px;
  text-align: center;
}

.tshirt-title {
  font-size: 26px;
  font-family: "Milligram Light";
  margin-bottom: 12px;
}


.btn-more {
  background: #ff2d2d;
  color: white;
  padding: 10px 26px;
  border-radius: 12px;
  font-family: "Milligram Light";
  transition: 0.25s;
}

.btn-more:hover {
  text-decoration: underline;
}

.btn-more:active {
  background: white;
  color: black;
}


.tshirt-card-wrapper--shift {
  margin-top: 40px;
}


.footer {
  background: #000;
  margin-top: 120px;
  padding: 20px 0;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left span,
.footer-right span {
  display: block;
  font-family: "Milligram Light";
}

.footer-center {
  font-family: "Milligram Light";
}

